@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    padding: 0 !important;
    margin: 0 !important;
}

button {
    padding: .8em 3em !important;
    color: white !important;
    margin-bottom: .5em !important;
}
button:disabled {
    cursor: not-allowed !important;
    pointer-events: all !important;
    background-color: darkgray !important;
    color: black !important;
}

button:hover {
     background-color: darkgray !important;
}